.mockups {
    margin: auto;
    @include width-height (80%, auto);
    padding: 4rem;
    text-align: center;

    &__imagen {
        @include width-height(800px, auto);
    }
}

.contenedor-med {
    @include width-height(80%, 45rem);
    @include flex(column, center, center);
    margin: auto;
    text-align: center;
    row-gap: 1rem;
}

.contenido-comunidad {
    @include width-height(80%, auto);
    @include flex(row, space-around, center);
    margin: auto;
    padding-top: 2rem;
}

.comunidad {
    font-family: $open-sans;
    text-align: center;
    color: $dark-cyan;
    line-height: 1.5;

    &__numero {
        font-size: 5rem;
    }

    &__texto {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: .7;
    }

    .contenido-imagen {
        text-align: initial;
    }
}

// contenido ilustraciones

.ilustraciones {
    @include width-height(100%, auto);
    padding-top: 15rem;
    display: grid;
    row-gap: 14rem;

    &-contenedor {
        @include width-height(80%, auto);
        @include flex(row, center, center);
        margin: auto;
        padding: 2rem;
    }

    &-textos-imagen {
        @include width-height(100%, auto);
        background-color: $pale-blue;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            @include width-height(100%, 100%);
            background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat top / contain;
            top: 100%;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';
            @include width-height(100%, 100%);
            background: url(../images/bg-section-top-desktop-1.svg) no-repeat bottom / contain;
            bottom: 100%;
            z-index: -1;
        }

        &:nth-child(2), 
        &:nth-child(2)::after,
        &:nth-child(2)::before{
            background: none;
            flex-direction: row-reverse;
        }

        &:nth-child(3)::before {
            background: url(../images/bg-section-top-desktop-2.svg)  no-repeat bottom / contain;
        }

        &:nth-child(3)::after {
            background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat top / contain;
        }
    }
}

.ilustracion {
    @include width-height(100%, auto);
    text-align: center;

    &__imagen {
        @include width-height (100%, auto);
        max-width: 400px;
    }

    &-textos {
        @include width-height(100%, auto);
        font-family: $open-sans;
        
    }

    &__titulo {
        font-family: $poppins;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__parrafo {
        @include width-height(85%, auto);
        font-size: .9rem;
    }

}

